<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    
    <ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Description", pages_description_path %>
  </li>
   <li>
    <%= link_to "Location", pages_location_path %>
  </li>
  <li>
    <%= link_to "Reviews", new_review_path %>
  </li>
</ul>

 <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <span class="col_text_1">Rooms:</span>
        <span class="col_text_2">8</span> 
&nbsp;  &nbsp;  &nbsp;  &nbsp; 
<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <span class="col_text_1">Bathrooms:</span>
        <span class="col_text_2">3</span>
&nbsp;  &nbsp;  &nbsp;  &nbsp; 
<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
     <span class="col_text_1">Bedrooms:</span>
        <span class="col_text_2">4</span>    
&nbsp;  &nbsp;  &nbsp;  &nbsp;  
<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <span class="col_text_1">Built year:</span>
        <span class="col_text_2">2013</span>
&nbsp;  &nbsp;  &nbsp;  &nbsp; <br> <br>
 <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
     <span class="col_text_1">Garages:</span>
        <span class="col_text_2">2</span>                                           
&nbsp;  &nbsp;  &nbsp;  &nbsp;                  
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
     <span class="col_text_1">Lot size:</span>
         <span class="col_text_2">550 Sqrt  </span>             
&nbsp;  &nbsp;  &nbsp;  &nbsp;  
 <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <span class="col_text_1">House size:</span>
         <span class="col_text_2"> 400 Sqrt </span>   
         <br>
         <br>
  <div class="rem_house_desciption">
      <p>This elegantly renovated period home is immaculate inside and out! Enviably situated this home comprises formal sitting and dining rooms which lead to a huge, beautifully bright living/dining which achieves indoor-outdoor brilliance and incorporates an open-plan kitchen of consummate quality. Main bedroom with study/retreat, walk-in robes, ensuite and sublime courtyard is complemented by a similarly luxurious second downstairs bedroom, also enjoying ensuite, walk-in robes and study/lounge space. Upstairs, two further bedrooms &amp; modern bathroom surround generous children’s living and sunny balcony. Glorious gardens include solar/gas heated pool &amp; spa, inviting entertaining areas,double carport &amp; additional parking. A prestigious position offering quick access to many leading schools including Camberwell Grammar School, Fintona &amp; Camberwell Girls. Close to transport &amp; shops. Garden &amp; Pool maintenance included.</p></div>
    </div>

<div class="container">


<div class="rem_features_title">
            Amenities:
        </div>

<span class="col_text_2">
  <div class="rem_features_category"> Exterior</div><span class="rem_features_name"><i class="fa  fa-check rem_fa"></i>Garden</span>
  <span class="rem_features_name"><i class="fa  fa-check rem_fa"></i>Patio</span>
  <span class="rem_features_name"><i class="fa  fa-check rem_fa"></i>Garage</span>
  <div class="rem_features_category"> Specific</div><span class="rem_features_name"><i class="fa  fa-check rem_fa"></i>Pool</span>
  <span class="rem_features_name"><i class="fa  fa-check rem_fa"></i>Gym</span>
  <div class="rem_features_category">Interior</div><span class="rem_features_name"><i class="fa  fa-check rem_fa"></i>Fireplace</span>
  <span class="rem_features_name"><i class="fa  fa-check rem_fa"></i>Heating</span>
</span>

</div>
</div>