<br>
<br>
<br>
<br>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<style>
    .a {
        width: 1000px;
        padding: 10px;
        border: 2px solid gray;
        margin: 0;
        background-color: #eeeeee;
        }
        
    .b {
        width: 1050px;
        padding: 10px;
        border: 2px solid gray;
        margin: 0;
        
        }
</style>
<body>
<div class="container">
   <div class="b"> <h2>Groups</h2>
   <br> <br>
        <div class="a"> All Groups </div>
   <br> <br>
     <select>
            <option value="">Newest Group</option>
            <option value="2">Alphabetical</option>
            <option value="1"> Most Active</option>
            <option value="3"> Featured </option>
     </select> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      
      <select>
            <option value="">All Categories</option>
            <option value="2">Financial Advisor</option>
            <option value="1">General</option>
            <option value="3">Home Owner </option>
            <option value="1">Mortgage Brokers</option>
            <option value="3">Realtors</option>
     </select>
   
    <br> 
    <br>
  
      
      no groups created yet 
    </div>
    
  </div>
</div>

</body>
</html>



