<br>
<br>
<br>
<br>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<style>
    .a {
        width: 1000px;
        padding: 10px;
        border: 2px solid gray;
        margin: 0;
        background-color: #eeeeee;
        }
        
    .b {
        width: 1050px;
        height: 500px;
        padding: 10px;
        border: 2px solid gray;
        margin: 0;
        
        }
</style>
<body>
<div class="container">
   <div class="b"> <h2>Advanced Search</h2>
   <br> <br>
        <div class="a"> Advanced Search</div>
   <br> <br>
     <select>
           <b> <option value="">Basic Information</option> </b>
            <option value="2">Please select</option>
            <b> <option value="">Contact Information</option> </b>
            <option value="3"> State</option>
            <option value="4"> City / Town</option>
            <option value="5"> Country</option>
            <option value="5"> Featured </option>
            <b> <option value="">Business Basics</option> </b>
            <option value="6"> Started as a Realtor in</option>
            <option value="7"> Properties dealt so far</option>
            <option value="8"> Started Brokerage in</option>
            <option value="9"> Associated Financial Institutations </option>
            <b> <option value="">About my property</option> </b>
            <option value="3"> Name</option>
            <option value="4"> Email</option>
     </select>
      
      <select>
            <option value="">Contains</option>
            <option value="2">Equal</option>
            <option value="1">Not Equal</option>
            
     </select>
   
    <br> 
    <br>
  
      <button type="button"> Add Criteria</button>
    </div>
    
  </div>
</div>

</body>
</html>



