<br>
<br>
<br>
<br>
<br>
<div class="container" >

<ul class="nav nav-tabs">
  <li >
    <%= link_to "Description", pages_description_path %>
  </li>
   <li class="active">
    <%= link_to "Location", pages_location_path %>
  </li>
  <li>
    <%= link_to "Reviews", new_review_path %>
  </li>
</ul>


<iframe
  width="1150"
  height="300"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=
  AIzaSyCDUjG6U31VxADJBuliYaemivyDZYUK2Xw
    &q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe>


</div>