<br>
<br>
<br>
<div class="container">
    <div class="rem_searchtext_input">
      <input class="inputbox" type="text" name="searchtext" size="20" maxlength="20" placeholder="Search Keywords">
     </div> <br>
  <div class="col_box_2 container_box_2">
                <span>Category</span>
                <select id="catid" name="catid" class="inputbox" size="1" style="width: 115px">
	<option value="all">all</option>
	<option value="50">Cottage </option>
	<option value="49">Manufactured</option>
	<option value="48">Family House</option>
	<option value="47">Townhouse</option>
	<option value="46">Apartment</option>
</select>
            </div>
    
    <br>

    <div class="col_box_1">
        <div class="box_from">
            <span class="col_01">Check In</span>
            <input type="text" id="search_date_from" name="search_date_from" class="hasDatepicker">
        </div> <br>
        <div class="box_until">
            <span class="col_01">Check Out</span>
            <input type="text" id="search_date_until" name="search_date_until" class="hasDatepicker"></div>
        </div> <br>
    <div class="col_box_1">
        <span class="price_label">Price</span>
        <div id="rem_slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header" style="left: 0%; width: 100%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a></div>
            <div class="pricefrom_2">
               <span>from</span>
               <input type="text" id="pricefrom" name="pricefrom2" value="0">
              </div> <br>
                <div class="priceto_2">
                    <span>to</span>
                    <input type="text" id="priceto" name="priceto2" value="750000">
                </div> <br>
                <div style="clear: both;"></div>
            </div>
                    <div class="container_box_2 container_box_3">
            <div class="col_box_2">
                <span>Listing type</span>
                <select id="listing_type" name="listing_type" class="inputbox" size="1" style="width: 115px">
	<option value="all" selected="selected">all</option>
	<option value="1">House for rent</option>
	<option value="2">House for sale</option>
</select>
            </div> <br>
            <div class="col_box_2">
                <span>Listing status</span>
                <select id="listing_status" name="listing_status" class="inputbox" size="1" style="width: 115px">
	<option value="all" selected="selected">all</option>
	<option value="1">Active</option>
	<option value="2">Offer</option>
	<option value="3">Contract</option>
	<option value="4">Closed</option>
	<option value="5">Withdrawn</option>
</select>
            </div> <br>
        </div>
        <div class="col_box_button">
        <input class="button" type="submit" name="submit" value="Search">
        </div>
        </div>

 
        
    </div>
    </div>