// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reviews_table .box_comment {
  margin: 0 0 20px 0;
}

.reviews_table {
  font-size: 14px;
  margin: 10px 0 5px;
}


.btn btn-default{
    width: 100;
}